<div
  class="d-flex justify-content-around pb-2 bg-white border fixed-top"
  *ngIf="disable_link == false"
>
  <div class="mt-3">
    <a [routerLink]="['/']"> Go-Green</a>
  </div>
  <div class="mt-3">
    <input
      class="form-control form-control-sm"
      type="text"
      style="height: 27px"
      placeholder="  To research"
    />
  </div>
  <div class="mt-2" style="width: 400px">
    <div class="d-flex justify-content-center">
      <div class="mr-4">
        <a [routerLink]="['/']">
          <i id="home" class="bi bi-house-door navicon"></i>
        </a>
      </div>

      <div class="mr-4">
        <a [routerLink]="['/order']">
          <i id="order" class="bi bi-basket navicon"></i>
        </a>
      </div>

      <div class="mr-4">
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter"
          ><i class="bi bi-plus-square navicon"></i
        ></a>
      </div>
      <div class="mr-4">
        <a [routerLink]="['/explore']">
          <i id="explore" class="bi bi-compass navicon"></i>
        </a>
      </div>
      <div class="mr-4">
        <a
          href="#"
          id="dropdownMenuButton2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bi bi-heart navicon"></i>
        </a>

        <div
          class="dropdown-menu shadow border-0"
          style="width: 300px; margin-right: 100px; margin-top: 18px"
          aria-labelledby="dropdownMenuButton2"
        >
          <div
            class="p-2 d-flex justify-content-between align-items-center mb-1"
            *ngFor="let x of List_Users"
          >
            <div class="d-flex justify-content-start">
              <div>
                <img
                  class="porfil-img"
                  style="width: 40px; height: 40px"
                  [src]="x['image']"
                />
              </div>
              <div class="d-flex flex-column ml-3">
                <small class="m-0 p-0">{{ x["username"] }}</small>

                <small class="m-0 p-0 text-muted">{{ x["name"] }}</small>
              </div>
            </div>

            <div class="mr-2">
              <small class="m-0 p-0 text-primary">Subscribe</small>
            </div>
          </div>
        </div>
      </div>

      <div class="mr-4 dropdown">
        <img
          *ngIf="httpservice.user_me['image']"
          class="porfil-img mt-1 dropdown-toggle"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [src]="httpservice.user_me['image']"
          width="30px"
        />
        <div
          class="dropdown-menu shadow border-0"
          style="margin-top: 12px"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item d-flex flex-row" [routerLink]="['/profile']"
            ><div><i class="bi bi-person-circle midicon"></i></div>
            <div class="mt-2 ml-2">Profile</div>
          </a>
          <a class="dropdown-item d-flex flex-row" href="#"
            ><div><i class="bi bi-bookmark midicon"></i></div>
            <div class="mt-2 ml-2">Checked in</div>
          </a>
          <a class="dropdown-item d-flex flex-row" href="#"
            ><div><i class="bi bi-gear-wide midicon"></i></div>
            <div class="mt-2 ml-2">Settings</div>
          </a>
          <a class="dropdown-item d-flex flex-row" href="#"
            ><div><i class="bi bi-arrow-repeat midicon"></i></div>
            <div class="mt-2 ml-2">Change account</div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/connect']">Logout </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Create a new post
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="min-height: 300px">
        <div class="d-flex justify-content-around mt-3 text-center">
          <div class="d-flex flex-column">
            <div><h2>From my garden</h2></div>
            <div class="mt-3 d-flex justify-content-center">
              <select class="form-control" style="width: 200px">
                <option>Default select</option>
              </select>
            </div>
            <div class="mt-3"><h2>Or</h2></div>
            <div><h2>Create new</h2></div>
          </div>
        </div>
        <div
          class="p-3 mt-3 rounded"
          style="background-color: rgb(242, 255, 255)"
        >
          <div class="d-flex justify-content-between">
            <div style="margin-left: 4px">
              <input
                type="text"
                class="form-control"
                placeholder="name plant"
                [(ngModel)]="pub['title']"
                name="k0"
              />
              <small style="margin-left: 3px">name of plante</small>
            </div>
            <div style="width: 80px">
              <input
                type="number"
                [(ngModel)]="pub['quantity']"
                name="k1"
                class="form-control"
                placeholder="Qty"
              />
              <small>Qty</small>
            </div>
            <div>
              <input
                type="number"
                class="form-control"
                style="width: 120px"
                placeholder="groww plante after"
              />
              <small>Groww plante after (days)</small>
            </div>
          </div>
          <div class="d-flex justify-content-end d-flex align-items-end">
            <small class="mr-2">notification after Groww plante (days)</small>
            <input
              type="checkbox"
              style="width: 20px; height: 20px"
              checked
              placeholder="Last name"
            />
          </div>

          <div class="d-flex justify-content-around mt-3">
            <div class="input_description">
              <textarea
                placeholder="  Type a publication..."
                type="text"
                name="textarea"
                style="width: 400px"
                [(ngModel)]="textArea"
                rows="3"
                class="rounded border-secondary"
              ></textarea>

              <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible">
                😀
              </button>
              <br />
              <emoji-mart
                class="emoji-mart"
                style="position: absolute; margin-top: 90px"
                *ngIf="isEmojiPickerVisible"
                (emojiSelect)="addEmoji($event)"
                title="Choose your emoji"
              ></emoji-mart>
            </div>
            <div class="d-flex flex-column">
              <div class="mt-3">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Media content</label>
                    <input
                      type="file"
                      (change)="onFileSelect($event)"
                      class="form-control-file"
                      id="exampleFormControlFile1"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="add_publication()"
        >
          Save and Publish
        </button>
      </div>
    </div>
  </div>
</div>
